body {
    font-family: Arial;
    text-align: center;
    background: #111;
    color: white;
}

h1 {
    margin-top: 20px;
}

button {
    font-size: 30px;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

#screen {
    margin: 20px;
    font-size: 20px;
}

#stats {
    margin: 10px;
}
}
